@import 'variables';
@import 'mixins';
@import 'header';

h1 {
  font-family: 'Dr Sugiyama', cursive;
}

p {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.5em;
}

a {
  font-family: 'Architects Daughter', cursive;
  font-size: 1.3em !important;
}


body {
  
  // @include container_fluid;
  nav {
    .bg-pink-transp {
      background-color: $bg-pink-transp;
    
      li {
        width: $w30;
        border-color: gray !important;

      }
    }
  }

  main {
    // @include container_fluid;
    .container-hero {
      height: 55rem;
      
      .hero {
        @include background-hero2
      }

      .container-welcome {
        position: relative;
        
      }

      .contain-wlc__msg {
        position: absolute;
        right: 2.5rem;
        top: 5rem;
        left: 37rem;
        z-index: 1;
        height: 70%;
        
        
        .container-msg-button {
          height: 30rem;
          & ::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 100%;
            height: 80%;
            left: 0;
            top: 0;
            background-image: url(../img/logo_4crose.png);
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            z-index: -1;
          }
        }

        .welcome {
          font-size: 5.8vw;
        }
        .welcome-msg {
          width: 100%;
          font-size: 2vw;
          line-height: 2em;
          text-align: center;
        }

        .container-btn {
          width: 50%;
        }
      }

    }

    .treatment {
      margin: 2rem 0 0 0;
      height: 60rem;

      .container-services {
        row-gap: 6rem;
        height: 50rem
      }

      .services-title {
        font-size: 4.5em;
      }

      .container-services__img {
        height: 21rem;
      }
            
      .cards {
        @include circle;
        margin: 0 2% 0 2%;
        transition: 0.5s;
      }

      .card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: .6;
        border-radius: 50%;
      }

      .card-img-overlay {
        width: 100%;
        height: 100%;
        padding: 0;
        border-radius: 50%;
        z-index: 1;
        
        .card-text {
          @include flex($direcc-row, $aling-center, $just-center);
          width: 100%;
          height: 100%;
          color:rgba(0,0,0,0.8);
          font-weight: 900;
          border-radius: 50%;
          text-align: center;
          &:hover {
            background-color:rgba($bg-pink, 0.6);
            text-decoration: none;
            transition: background-color 0.5s ease-in-out;

          }
        }
        
      }
      .card-body {
        border: none;
        font-size: 1.2em;
        text-align: center;
      }

      .services-button {
        width: 40%;
      }
    }

    .knowme {
      background-color: $bg-pink;
      height: 42rem;

      .wrapper-knowme {
        height: 100%;

        @include flex($direcc-colum, $aling-center, $just-around);
      }

      .knowme-title {
        font-size: 3.5rem;
      }

      .container-knowme {
        height: 75%;
      }

      .container-knowme__info {
        width: 40%;
        font-size: 1em;
      }
      .container-knowme__img {
        width: 40%;
        height: 80%;

        .img-knowme {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .appoiment {
      height: 16rem;

      .appoiment-button {
        width: 40%;
      }
    }
  }  
}