$h-90: 5.6rem;
$vh-75: 75vh;
$vh-70: 70vh;
$vh-50: 50vh;
$vh-100: 100vh;
$w30: 30%;

$bg-pink:#efb4b4;

$bg-pink-transp: rgba(239, 180, 180, 0.2);

$container-fluid: 1440px;

$direcc-row: row;
$direcc-colum: column;
$aling-center: center;
$aling-start: start;
$aling-end: end;
$just-center: center;
$just-around: space-around;
$just-between: space-between;
