.h-90 {
  height: 5.6rem;
}

.vh-50 {
  height: 50vh;
}

.bg-pink {
  background-color: #efb4b4;
}

.bg-pink-transp {
  background-color: rgba(239, 180, 180, 0.2);
}

.container-fluid {
  max-width: 1440px;
}

.logo-img {
  width: 4.4rem;
  height: 4.4rem;
}

.bottom-nav {
}

.nav-link {
  color: black !important;
}

.border-dark {
  border-color: gray !important;
}

@media screen and (min-width: 992px) {
  .bottom-nav {
  }
}

.hero {
  background-image: linear-gradient(331deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 0%, rgba(0,0,0,0.24217436974789917) 74%), url(/img/HEYYOU-VERO-61.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
}
